body {
	text-align: center;
}
.navBar {
	background-color: lightgray;
}
nav {
	padding: 10px;
}

.productContainer {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}
.productContainer > .link {
	text-align: center;
	width: 300px;
	box-shadow: 0 0 10px #463636;
	margin: 10px;
}

.productContainer > .link:hover {
	background-color: lightgray;
}
